*{
    padding: 0;
    margin: 0;
    border: none;
    font-family: sans-serif;
}

html, body{
    height: 100vh;
    width: 100%;
    background-color: #F5F5F5;
    overflow-x: hidden;
}

.nav-icon{
    height: 30px;
}

a{
    text-decoration: none;
    color: black;
}

li{
    list-style: none;
}

header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 10px;
    position: fixed;
    z-index: 2;
    background-color: #3D5F7173;
}

#logo{
    width: 100px;
    margin-right: 5px;
    text-align: center;
    background-color: #3D5F71;
}

nav{
    width: 65%;
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


nav li {
    font-size: large;
    font-weight: 400;
}



#navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
}

#nav-icons{
    display: flex;
    gap: 10px;
}

.nav{
    display: flex;
}

#pesquisa{
    width: 400px;
    display: flex;
    align-items: center;
    background-color: #F5F5F5;
    border-radius: 10px;
}

#pesquisa input{
    width: 90%;
    height: 90%;
    background-color: #F5F5F5;
    border-bottom: 2px solid black;
}

#responsive-icon{
    display: none;
}

/* capa */

#capa{
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5vh;
    background-color: #E1E5E8;
}

.capa{
    height: 90%;
}
.capa img{
    height: 100%;
}

.convite{
    width: 40%;
    font-size: xx-large;
    font-weight: 600;
}
.p2{
    padding: 20px 0;
    color: #3C5F70;
}

.convite button{
    font-size: large;
    padding: 10px;
    border-radius: 5px;
    background-color: #3C5F70;
}

.convite a{
    color: #E1E5E8;
}

/* vendas */


#vendas{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    position: relative;
}

#filtros{
    width: 350px;
    height: 100vh;
    background-color: #414447;
    color: #F5F5F5;
    position: sticky;
    top: 0;
}

#filtros h1{
    font-size: 36px;
    margin: 40px 0 15px 10px;
}
#filtros h2{
    margin: 20px 0 5px 0;
}
.filtros{
    width: 95%;
    margin: 10px 1% 0 4%;
}
.cores{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.cor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cor div{
    width: 35px;
    height: 35px;
    border-radius: 5px;
}

.preto{
    background-color: black;
}
.branco{
    background-color: #ffffff;
}
.azul{
    background-color: #1574A4;
}
.aqua{
    background-color: #00FFFF;
}
.verde{
    background-color: #47EF26;
}
.sinza{
    background-color: #9AA4A8;
}
.amarelo{
    background-color: #E5C749;
}
.vermelho{
    background-color: #FB2525;
}

.tamanhos{
    width: 90%;
    padding: 0 0 0 10px;
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(2,1fr);
}

.tamanho{
    text-align: center;
    border: 2px solid ;
    padding: 5px;
    border-radius: 5px;
}

.precos{
    width: 90%;
    padding: 0 0 0 10px;
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(2,1fr);
}

.preco{
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid 
}

#produtos{
    width: calc(100% - 350px);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#produtos h1{
    width: 95%;
    font-size: 40px;
    margin: 45px 0 10px 0;
}
.destaque{
    width: 95%;
}

#destaque{
    width: 100%;
    height: 290px;
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(4,1fr)
}

#destaque div{
    height: 100%;

}

.d1{
    background-image: url(shoes/destaque-1.jpg);
    background-size: cover;
}
.d2{
    background-image: url(shoes/destaque-2.jpg);
    background-size: cover;
}
.d3{
    background-image: url(shoes/destaque-3.jpg);
    background-size: cover;
}
.d4{
    background-image: url(shoes/destaque-4.jpg);
    background-size: cover;
}

#mvendidos{
    width: 95%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 5px;
    background-color: #F5F5F5;
}

.mv img{
    width: 100%;
}

.mv{
    height: 215px;
    background-color: #E1E5E8;
}

.info{
    padding: 5px;
}

.info div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.mv button{
    background-color: #1574A4;
    padding: 5px;
    border-radius: 5px;
}
.mv a {
    color: #F5F5F5;
}

/* footer */

footer{
    width: 100%;
    min-height: 50vh;
    display: flex;
    flex-direction: row;
    background-color: #365260;
    color: #ffffff;
    position: relative;
}

#parte1{
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-footer h1{
    background-color: #9AA4A8;
    padding: 10px;
    margin-bottom: 30px;
}



.parte1-p{
    width: 80%;
    text-align: center;
}

#parte1 div{
    display: flex;
    width: 80%;
    margin-top: 20px;
}

.logo-footer{
    display: flex;
    justify-content: center;
}

#parte2{
    width: calc(100% - 350px);
}

#comentarios{
    width: 100%;
    height: min-content;
    border: 1px solid #ffffff;
    border-radius: 0 0 0 20px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.comentarios{
    display: flex;
    width: 95%;
    gap: 30px;
    margin: 20px 0;
}

.comentario{
    background-color: #9FBBC6A4;
    padding: 10px;
    border-radius: 10px;
}

#links{
    height: min-content;
    width: 100%;
    display: flex;
    margin-bottom: 30px;
}

#links a{
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
}
#links h3{
    color: #000;
    margin: 10px 5px;
}
.acesso ul{
    margin: 5px 15px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}


footer img{
    width: 30px;
    margin-right: 20px;
}

.acesso{
    width: 25%;
    border-left: 1px solid #ffffff;
}

.siga{
    width: 25%;
    border-left: 1px solid #ffffff;
}

.siga-ul{
    display: flex;
    flex-direction: column;
    margin: 5px 15px;
    gap: 14px;
}

.siga a{
    height: min-content;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.login{
    width: 50%;
    height: 100%;
    border-left: 1px solid #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#btn-login{
    display: flex;
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 3px;
    margin-bottom: 20px;
}
#btn-login button{
    font-size: 18px;
    padding: 8px;
}

#signin{
    background-color: #365260;
    border-radius: 8px 0 0 8px;
    color: #ffffff;
}

.login-footer{
    width: 100%;
    display: flex;
}

#login{
    width: 50%;
    height: 100%;
    border-right: 1px solid #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#login input{
    width: 90%;
    height: 30px;
    padding: 5px;
    font-size: 16px;
    margin-bottom: 20px;
    border-radius: 7px;
}
#login a {
    border-bottom: 1px solid #ffffff;
}

#login button{
    padding: 7px;
    border-radius: 10px;
    border: 2px solid #ffffff;
    font-size: 16px;
    color: #ffffff;
    background: transparent;
}

#login-com{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.login-com{
    width: 80%;
    display: flex;
    align-items: center;
    padding: 5px;
    background-color: #d9d9d9;
    color: #000;
    border-radius: 5px;
}

#assinatura{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.assinatura{
    width: 80%;
    text-align: center;
    border: 1px solid #ffffff;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 20px;
}


@media (max-width: 450px) {

nav{
    width: min-content;
    flex-direction: row-reverse;
    justify-content: end;
}

#navbar{
    width: 200px;
    height: 400px;
    display: none;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    border-radius: 0 0 0 30px;
    background: #3D5F71;
}

#responsive-icon{
    display: block;
    margin-left: 10px;
}
#pesquisa{
    width: min-content;
    padding-right: 10px;
}
#pesquisa input{
    min-width: 100px;
    max-width: 130px;
}


/* CAPA */

#capa{
    height: 80%;
    flex-direction: column-reverse;
}
.capa{
    height: 50%;
}
.convite{
    width: 80%;
    font-size: x-large;
    text-align: center;
}


/* VENDAS */
#filtros{
    display: none;
}

#produtos{
    width: 100%;
}
#produtos h1{
    margin: 15px 0 5px 0;
    font-size: 25px;
}

.destaque{
    overflow-x: scroll;
}
#destaque{
    width: 200%;
}

#mvendidos{
    grid-template-columns: repeat(2,1fr);
}

.mv{
    height: min-content;
}


/* footer */

footer{
    flex-direction: column-reverse;
}

#parte1{
    width: 100%;
    margin-bottom: 50px;
}

#parte2{
    width: 100%;
}

.comentario2{
    display: none;
}

#links{
    height: min-content;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.acesso, .siga{
    width: 45%;
    height: min-content;
}

.acesso{
    border: none;
}
.login{
    width: 90%;
    height: 300px;
    margin-top: 10px;
    border: none;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
}

.login-footer{
    flex-direction: column;
    height: min-content;
}

.login{
    height: min-content;
    padding-top: 20px;
}

#login, #login-com{
    width: 100%;
    border: none;
    margin-bottom: 30px;
}

#assinatura{
    position: absolute;
    bottom: 0;
}
.assinatura{
    margin-bottom: 10px;
}


}