*{
    margin: 0;
    padding: 0;
    border: none;
    font-family: sans-serif;
}

body{
    height: 100vh;
    width: 100%;
    position: relative;
}

body::-webkit-scrollbar{
    display: none;
}

nav{
    width: 100%;
    background: hsla(200, 30%, 34%, 0.452);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1;
}
#logo div{
    width: 100px;
    height: 40px;
    border-radius: 10px;
    background: #D3E0E4;
    margin-left: 15px;
} 
#logo h1{
    color: #1574A4;
    text-align: center;
    margin-top: 7px;
}

#nav{
    width: calc(100%/3*2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-right: 15px;
}

#menu ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

#menu li, a{
    list-style: none;
    color: black;
    text-decoration: none;
    font-size: 1.3rem; 
}

.menu-item:hover{
    color: #50baf0;
    border-bottom: 2px solid #50baf0;
}

#icon{
    display: flex;
    flex-direction: row;
    gap: 9px;
}

#icon img{
    height: 20px;
}

#user{
    display: flex;
    flex-direction: row;
    padding: 5px;
    border-radius: 5px;
    background: #D3E0E4;
    gap: 3px
}

            /* CAPA */

#capa{
    height: 45vh;
    min-height: 450px;
    background: #E1E5E8;
    padding-top: 10vh;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.campanha{
    width: 40%;
    margin-top: 50px;
}
.campanha p{
    font-size: 2.3rem;
    font-weight: bold;
}

#p2{
    color: #3C5F70;
    margin-top: 30px;
}
#p2 strong{
    color: #1574A4;
}
.ver{
    width: 100px;
    height: 40px;
    margin: 20px 0 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #1574A4;
}
.ver p{
    color: #E1E5E8;
    font-size: 22px;
}

#img-capa{
    height: 400px;
}
#img-capa img{
    height: 100%;
}



        /* filtros */

#produtos{
    height: fit-content;
    display: flex;
    flex-direction: row;
    background-color: #F5F5F5;
}

#filtros{
    width: 355px;
    height: calc(100vh );
    background: #414447;
    position: sticky;
    top: 0;
    color: #ffffff;
}
.filtros{
    width: 100%;
    height: 100%;
    padding: 30px 10px;
}
.filtros h1{
    font-size: 36px;
}
#filtros h2 {
    margin-top: 0px;
}
.cores{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    padding: 10px 20px 30px 15px;
}
.cor{
    display: flex;
    flex-direction: column;
}

.cor div{
    width: 35px;
    height: 35px;
    border-radius: 10px;
}

.preto{
    background-color: black;
    border: 1px solid ;
}
.braco{
    background-color: white;
}
.azul{
    background-color: #1574A4;
}
.aqua{
    background-color: aqua;
}
.verde{
    background-color: #47EF26;
}
.sinza{
    background-color: #9AA4A8;
}
.amarelo{
    background-color: #E5C749;
}
.vermelho{
    background-color: #FB2525;
}

#tamanho, #preco{
    display: grid;
    grid-template-columns:  repeat(2,1fr);
    padding: 15px 20px 10px 15px;
    gap: 10px
}

.tamanho, .preco{
    border: 2px solid #E1E5E8;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    
}









#todos{
    width: calc(100% - 300px);
    height: fit-content;
    min-height: 120vh;
    padding-left: 10px;
    overflow-x: scroll;
}

#todos h1{
    font-size: 40px;
    margin: 50px 0 20px 5px;
}

#todos::-webkit-scrollbar{
    display: none;
}
.destaque{
    min-width: min-content;
    display: flex;
    overflow-y: scroll;
}
.item{
    height: 290px;
    width: 210px;
    display: flex;
    align-items: end;
    margin: 10px;
    background: #ffffff;
    background-position: center center;
    background-size: 200px;
    background-repeat: no-repeat;
}

.item p{
    padding: 10px;
    font-size: 1.5rem;
    font-weight: bold;
}

.item1{
    background-image: url(shoes/destaque-1.jpg);
    color: #D3E0E4;
}
.item2{
    background-image: url(shoes/destaque-2.jpg);
    color: #D3E0E4;

}
.item3{
    background-image: url(shoes/destaque-3.jpg);
    color: #414447;

}
.item4{
    background-image: url(shoes/destaque-4.jpg);
    color: #414447;
}


.mv{
    width: 245px;
    height: 215px;
    background-color: #E1E5E8;
}
.mv img{
    width: 100%;
}

.m-vendidos{
    width: 100%;

    display: grid;
    grid-template-columns: repeat(4,1fr);
    flex-direction: row;
    row-gap: 20px;
}

.descrição{
    padding: 5px 10px; 
    display: flex;
    justify-content: space-between;
}




footer{
    height: min-content;
    min-height: 500px;
    background: #365260;
    display: flex;
    flex-direction: row;
    color: #ffffff;
}

#parte1{
    width: 340px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logo-fotter{
    height: 75px;
    background: #D3E0E4;
    color: #1574A4;
    margin-bottom: 50px;
}

#parte1 p{
    width: 80%;
    margin: 30px 0 70px 0;
}
#parte1 div p{
    margin: 0;
}

#parte1 div {
    width: 80%;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#parte1 img{
    width: 30px;
    margin-right: 20px;
}

#parte2{
    width: calc(100% - 340px);
    margin-bottom: 30px;
}

#comentarios{
    height: 225px;
    border: 1px solid #ffffff;
    background: #3C5F70;
    border-radius: 0 0 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
}
#comentarios h3{
    border-bottom: 3px solid #ffffff;
    margin-top: 10px;
}

.comentarios{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: space-around;
}

.comentario{
    width: 450px;
    height: 125px;
    background: #9fbbc6a4;
    border-radius: 10px 0 0 10px;
    padding: 10px;
}
.comentario h4{
    margin: 15px ;
}

.comentario2{
    border-radius: 0 10px 10px 0;
}

#links{
    display: flex;
    flex-direction: row;
    
}

#acesso{
    width: 25%;
    height: 300px;
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    padding: 0px;

}

#links h3{
    color: #000;
    margin: 20px;
}

#links li, #links a{
    color: #ffffff;
    text-decoration: none;
    list-style: none;
    margin: 5px 20px;
    display: flex;
}
#links img{
    width: 30px;
    margin-right: 20px;
}

#links li:hover{
    border-bottom: 2px solid white;
    transition: 1s;
}

#siganos{
    width: 25%;
    height: 300px;
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;

}

#login-fotter{
    width: 50%;
    height: 300px;
    border-left: 1px solid #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;

}


#login-btn{
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    border-radius: 20px;
    margin-bottom: 10px ;
    justify-content: center;
    align-items: center;
}

.login-btn1{
    margin: 5px;
    border-radius: 15px 0 0 15px;
    background-color: #3C5F70;
}
.login-btn1 h3{
    color: #ffffff;
}

#login-space{
    width: 100%;
    display: flex;
    flex-direction: row;
}

#login-inputs{
    width: 50%;
    height: 200px;
    border-right: 2px solid  #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer input{
    width: 225px;
    height: 35px;
    font-size: 16px;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 0 5px;
    background-color: #D9D9D9;
    color: #414447;
    font-weight: 600;
}


#login-inputs p{
    display: flex;
    justify-content: center;
    font-size: 15px;
    margin-bottom: 10px;
}

#login-inputs p a{
    font-size: 15px;
    margin: 0 0 0 5px;
    border-bottom: 1px solid ;
}

#login-inputs button{
    width: 130px;
    height: 35px;
    color: #ffffff;
    font-size: 18px;
    border-radius: 5px;
    background-color: #365260;
    border: 5px solid #ffffff;
}

#login-com{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.login-com{
    display: flex;
    align-items: center;
    width: 225px;
    height: 35px;
    font-size: 16px;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 0 5px;
    background-color: #D9D9D9;
    color: #000000;
    font-weight: 500;

}

.login-com img{
    height: 25px;
}

#assinatura{
    width: 100%;
    height: 40px;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#assinatura div{
    width: 90%;
    height: 100%;
    border: 2px solid;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*  mobile */


@media (max-width: 430px) {

#capa{
    height: min-content;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: start;
    padding: 0;
}
#img-capa{
    height: min-content;
}
#capa img{
    height: 350px;
    width: min-content;
    margin: 0;
    padding: 0;
}
.campanha{
    width: 90%;
    margin: 20px 0 ;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#capa p{
    font-size: 20px;
    width: 90%;
    text-align: center;
}

#p2{
    margin: 10px;
}
.ver{
    margin: 0;
}

#filtros{
    display: none;
}
#todos{
    width: 100%;
}
#todos h1{
    font-size: 24px;
    margin: 15px 0 5px 10px
}

.destaque{
    width: 100%;
}

.m-vendidos{
grid-template-columns: repeat(2,1fr);
}

.mv{
    width: 100%;
}
   
    

    /* footer */

footer{
    flex-direction: column-reverse;
}

#parte2{
    flex-direction: row;
    width: 100%;
    
}

#links{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#acesso{
    grid-area: acesso;
    width: 45%;
    height: 250px;
    border-left: none;
}

#links li{
    margin: 0
}
#siganos{
    grid-area: siganos;
    width: 45%;
    height: 250px;
    border-right: none;
}

#login-fotter{
    grid-area: login;
    flex-direction: column;
}



#comentarios{
    width: 100%;
}

.comentario2{
    display: none;
}

.comentario{
    width: 90%;
    border-radius: 0 10px 10px 10px;
}
}